.even{
    padding: 100px;
}

.even-child{
    margin-top: 50px;
    display: flex;
}

.even-child-box{
    width: 900px;
    height: 400px;
    padding: 0 50px;
}

.even-child-box img{
    width: 100%;
    height: 100%;
}

.even-title{
    font-size: 30px;
    margin-top: 25px;
    padding: 0 50px;
}

.even-title span{
    color: #25468A;
}

.even-child-box h1{
    color: #1391CE;
    margin: 0 0 20px 0;
}

label {
    display: inline-block;
    margin-left: 10px; /* Checkbox va label orasidagi masofa */
    font-size: 15px;
}

input[type="checkbox"] {
    transform: scale(1.5); /* Checkboxni kattalashtirish */
    margin-right: 10px;    /* Checkbox va label orasiga masofa qo'shish */
    font-size: 10px;
}