.home{
    width: 100%;
    height: 800px;
}

.home-child{
    display: flex;
    padding: 90px 0;
}

.home-child img{
    width: 400px;
}


.home-child-box h1{
    font-size: 100px;
}


.home-title{
    margin-top: 50px;
    color: #25468A;
}


.home-child button{
    margin-top: 50px;
    width: 200px;
    height: 50px;
    border-radius: 50px;
    background-color: #F7BA0E;
    border: none;
    color: #25468A;
    cursor: pointer;
}